<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

{% block stylesheets %}
    {{ include('MuchoMasFacilWysiwygBundle:ElFinder:stylesheets.html.twig') }}
{% endblock stylesheets %}

</head>
<body>
    <div id="elfinder">finder <span>here</span></div>

{% block javascripts %}
    {{ include('MuchoMasFacilWysiwygBundle:ElFinder:javascripts.html.twig') }}
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#elfinder').elfinder({
            url : '{{ path('_elfinder_connector', {'elfinder_flavor_key': elfinder_flavor_key}) }}',  // connector URL (REQUIRED)
        });
    });
    </script>

{% endblock javascripts %}

</body>
</html>
