<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

{% block stylesheets %}
    {{ include('MuchoMasFacilWysiwygBundle:ElFinder:stylesheets.html.twig') }}
{% endblock stylesheets %}

</head>
<body>
{% set elfinder_id = "elfinder" %}

{% set selector = '#' ~ elfinder_id %}

    <div id="{{ elfinder_id }}">finder <span>here</span></div>

{% block javascripts %}
    
    {{ include('MuchoMasFacilWysiwygBundle:ElFinder:javascripts.html.twig') }}
    
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        
        {{ render(controller('MuchoMasFacilWysiwygBundle:ElFinder:index', {'selector': selector, 'elfinder_flavor_key': elfinder_flavor_key})) }}        

    });
    </script>

{% endblock javascripts %}

</body>
</html>
